{% extends "base.html" %}
{% block mycss %}
    <!-- <link rel="stylesheet" href="/static/css/index-login.css"> -->
    <link rel="stylesheet" href="/static/css/d-searchlist.css">
    <link rel="stylesheet" href="/static/css/freeze2.css">
{% endblock %}
{% block body %}
    {% include "d-header.html" %}
    <div class="wrapper">
        <div class="box">
            <div class="row">
                <!--search box-->
                <div class="container auth col-sm-10 col-sm-offset-1" style="padding-top: 150px; padding-left: 50px; padding-right: 20px;">
                    <div id="big-form" class="well auth-box">

                        <form id="order_basic_container">
                            <div class="form-group">
                                <h1 id="order-title">IKEA GO!</h1>
                            </div>
                            <div class="col-sm-12">
                                <div class="page-header text-muted divider"> <i class="fa fa-info-circle"></i> Order Info </div>
                            </div>
                            <div class="row">
                                <div class="col-sml-8 col-sm-offset-2">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="pickup_location"> <i class="fa fa-truck"></i> Pickup Location</label>
                                                <h4 id="pickupaddr">IKEA Brooklyn</h4> </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="pickup_time"> <i class="fa fa-calendar"></i> Pickup Time</label>
                                                <h4 id="pickuptime"> May 12, 2015. 5:00 PM </h4> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sml-8 col-sm-offset-2">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label><i class="fa fa-street-view"></i> Delivery Location</label>
                                                <h4 id="deliveryaddr">Columbia University</h4> </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label> <i class="fa fa-calendar-o"></i> Delivery Time</label>
                                                <h4 id="deliverytime"> May 13, 2015. 10:00 AM </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-12">
                                <div class="page-header text-muted divider"> <i class="fa fa-bar-chart"></i>Delivery Map</div>
                            </div>


                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div id="map" style="width: 600px; height: 400px;"></div>
                                </div>
                            </div>
                        </form> <!-- order_basic_container -->

                        <form id="order_detail_container">
                            <div class="col-sm-12">
                                <div class="page-header text-muted divider"> <i class="fa fa-bar-chart"></i>Occupancy Info</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-1">
                                    <!--  <button onclick = "draw_occupancy(30, 17, 10)">draw the occupancy</button> -->
                                    <div id="occupancy-graph"> </div>
                                </div>
                                <br>
                                <div class="col-sm-3">
                                    <label> <i class="fa fa-th"></i> Current Occpancy</label>
                                    <h1 id="occpancy"> 17/25 </h1>
                                </div>
                                <br>
                                <div class="col-sm-3">
                                    <label> <i class="fa fa-users"></i> Participants </label>
                                    <h1 id="participants"> 5 </h1>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="page-header text-muted divider"> <i class="fa fa-bar-chart"></i>Prices Trend </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-7 col-sm-offset-1">
                                    <div class="form-group">
                                        <div id="chart_div" style="width: 500px; height: 300px;"></div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <br>
                                    <br>
                                    <div class="row">
                                        <label class="control-label" for="base_price"> <i class="fa fa-money"></i> Base Price</label>
                                        <h2 id="perstopfee"> $5.00 </h2>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <label class="control-label" for="unit_price"> <i class="fa fa-money"></i></i> Current Unit Price</label>
                                        <h2 id="unitfee"> $10 </h2>
                                    </div>
                                </div>
                            </div>
                        </form>

                        {% if case == "accept-order" %}
                        <form id="accept-form">
                            <fieldset>
                                <div class="col-sm-12">
                                    <div class="page-header text-muted">
                                        <i class="fa fa-cog"></i> Accept This Order
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-sm-offset-2">
                                        <div class="form-group">
                                            <label class="control-label" for="truck-size"> <i class="fa fa-truck"></i> Truck Size (in Unit)</label>
                                            <input id="truck-size" name="trucksize" class="form-control input-md" type="text">
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label" for="initial-fee"><i class="fa fa-money"></i>  Initial Fee </label>
                                            <input id="initial-fee" name="initialfee" class="form-control input-md" type="text">
                                        </div>
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="form-group">
                                    <div class="col-sm-offset-5">
                                        <button id="accept-submit" class="btn btn-primary">Accept This Order</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        {% elif case == "close-order" %}
                        <form id="close-form">
                            <!-- Button -->
                            <div class="form-group">
                                <div class="col-sm-offset-5">
                                    <button id="close-submit" class="btn btn-primary">Ship This Order</button>
                                </div>
                            </div>
                        </form>
                        {% elif case == "finish-order" %}
                        <form id="finish-form">
                            <!-- Button -->
                            <div class="form-group">
                                <div class="col-sm-offset-5">
                                    <button id="finish-submit" class="btn btn-primary">This Order is Finished</button>
                                </div>
                            </div>
                        </form>
                        {% elif case == "view-order" %}
                        <!-- Blank -->
                        {% else %}
                        <h1> Error </h1>
                        {% endif %}

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="place-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog map-dialog">
            <div class="modal-content">
                <!-- TO BE LODADED -->
            </div><!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->

    {% include 'common-js-libs.html' %}
    <script src="/static/js/scripts.js"></script>
    <!--This part is for overlaying text-muted css, to make some headline as white color-->
    <style>
    .text-muted {
        color: #FFF;
    }
    </style>
    <!-- This script and style part is for search form-->
    <style>
    .margin-top-20 {
        margin-top: 20px;
    }

    body {
        background: url('/static/img/freeze/bk-freeze2.jpg');
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 40px;
    }

    .auth h1 {
        color: #fff!important;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }

    .auth h1 span {
        font-size: 21px;
        display: block;
        padding-top: 20px;
    }

    .auth .auth-box legend {
        color: #fff;
        border: none;
        font-weight: 300;
        font-size: 24px;
    }

    .auth .auth-box {
        background-color: #fff;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.4);
        ;
        background-color: rgba(255, 255, 255, 0.2);
        margin-top: 40px;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
        -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
        box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: background 1s ease-in-out;
        -moz-transition: background 1s ease-in-out;
        -ms-transition: background 1s ease-in-out;
        -o-transition: background 1s ease-in-out;
        transition: background 1s ease-in-out;
    }

    @media(max-width:460px) {
        .auth .auth-box {
            margin: 0 10px;
        }
    }

    .auth .auth-box input::-webkit-input-placeholder {
        /* WebKit browsers */

        color: #fff;
        font-weight: 300;
    }

    .auth .auth-box input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */

        color: #fff;
        font-weight: 300;
    }

    .auth .auth-box input::-moz-placeholder {
        /* Mozilla Firefox 19+ */

        color: #fff;
        font-weight: 300;
    }

    .auth .auth-box input:-ms-input-placeholder {
        /* Internet Explorer 10+ */

        color: #fff;
        font-weight: 300;
    }

    .auth span.input-group-addon,
    .input-group-btn button {
        border: none;
        background: #fff!important;
        color: #000!important;
    }

    .auth form {
        font-weight: 300!important;
    }

    .auth form input[type="text"],
    .auth form input[type="password"],
    .auth form input[type="email"],
    .auth form input[type="search"] {
        border: none;
        padding: 10px 0 10px 0;
        background-color: rgba(255, 255, 255, 0)!important;
        background: rgba(255, 255, 255, 0);
        color: #fff;
        font-size: 16px;
        border-bottom: 1px dotted #fff;
        border-radius: 0;
        box-shadow: none!important;
        height: auto;
    }

    .auth textarea {
        background-color: rgba(255, 255, 255, 0)!important;
        color: #fff!important;
    }

    .auth input[type="file"] {
        color: #fff;
    }

    .auth form label {
        color: #fff;
        font-size: 15px;
        font-weight: 300;
    }
    /*for radios & checkbox labels*/

    .auth .radio label,
    .auth label.radio-inline,
    .auth .checkbox label,
    .auth label.checkbox-inline {
        font-size: 14px;
    }

    .auth form .help-block {
        color: #fff;
    }

    .auth form select {
        background-color: rgba(255, 255, 255, 0)!important;
        background: rgba(255, 255, 255, 0);
        color: #fff!important;
        border-bottom: 1px solid #fff!important;
        border-radius: 0;
        box-shadow: none;
    }

    .auth form select option {
        color: #000;
    }
    /*multiple select*/

    .auth select[multiple] option,
    .auth select[size] {
        color: #fff!important;
    }
    /*Form buttons*/

    .auth form .btn {
        background: none;
        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
        -o-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;
    }

    .auth form .btn-default {
        color: #fff;
        border-color: #fff;
    }

    .auth form .btn-default:hover {
        background: rgba(225, 225, 225, 0.3);
        color: #fff;
        border-color: #fff;
    }

    .auth form .btn-primary:hover {
        background: rgba(66, 139, 202, 0.3);
    }

    .auth form .btn-success:hover {
        background: rgba(92, 184, 92, 0.3);
    }

    .auth form .btn-info:hover {
        background: rgba(91, 192, 222, 0.3);
    }

    .auth form .btn-warning:hover {
        background: rgba(240, 173, 78, 0.3);
    }

    .auth form .btn-danger:hover {
        background: rgba(217, 83, 79, 0.3);
    }

    .auth form .btn-link {
        border: none;
        color: #fff;
        padding-left: 0;
    }

    .auth form .btn-link:hover {
        background: none;
    }

    .auth label.label-floatlabel {
        font-weight: 300;
        font-size: 11px;
        color: #fff;
        left: 0!important;
        top: 1px!important;
    }
    </style>


    <!-- the script for drawing the occupancy picture -->
    <script>
    function draw_occupancy(trucksize, cargosize, row_size) {

        var undraw_cargo_count = cargosize;
        var box_count = 0;
        var table_str = "   <table id=\"colorchart\" style = \" border-spacing : 2px !important; border-collapse: separate;\"> <tbody>";

        while (box_count < trucksize) {
            if (box_count % row_size == 0) {
                table_str += "<tr>";
            }
            if (undraw_cargo_count > 0) {
                table_str += "<td bgcolor=\"#170B3B\" width=\"20\" height = \"20\" ><\/td>";
                undraw_cargo_count--;
                box_count ++;
            } else {
                table_str += "<td bgcolor=\"#F7F2E0\" width=\"20\" height = \"20\"><\/td>";
                box_count ++;
            }
            if (box_count % row_size == 0) {
                table_str += "<\/tr>";
            }
        }
        if (trucksize % row_size != 0) {
            table_str += "<\/tr>";
        }
        table_str += "<\/tbody><\/table>";

        $('#occupancy-graph').append(table_str);
    }
    </script>

    <!--This is for drawing a route on the Map-->

    <script>
    var map = new GMaps({
        el: '#map',
        lat: 40.737345,
        lng: -73.984414,
        zoom: 11,
        scrollwheel: false
    });

    function draw_route(origin_lat, orign_lng, dest_lat, dest_lng) {
        map.drawRoute({
          origin: [origin_lat, orign_lng],
          destination: [dest_lat, dest_lng],
          travelMode: 'driving',
          strokeColor: '#0B3B39',
          strokeOpacity: 0.7,
          strokeWeight: 6
      });
    }
    </script>


    <script>
    var oid = $.url('?oid');
    $(document).ready(function() {
        $.getJSON('v1/order/' + oid, function(res){
            if (Math.floor(res.status/100) == 2) {
                console.log(res);
                fillOrderHTML(res.data[0]);
                // hidden some parts
                if (res.data[0].status == 'O') {
                    console.log('hide order_detail_container');
                    $('#order_detail_container').hide();
                }
            } else {
                console.log('Fetch order failed');
            }
        });
    });
    function fillOrderHTML(data) {
        $('#order-title').html(data.title);
        $('#pickupaddr').html(data.pickupaddr);
        $('#pickuptime').html(data.pickuptime);
        $('#perstopfee').html('$' + data.perstopfee);
        $('#deliveryaddr').html(data.orderRecords[0].stopaddress);
        $('#deliverytime').html(data.deliverdate);
        $('#participants').html(' ' + data.participants);
        var trucksize = data.trucksize ? data.trucksize : 100;
        var cargosize = data.totalcargosize ? data.totalcargosize : 29;
        $('#occpancy').html(' '+cargosize+'/'+trucksize);
        $('#unitfee').html('$' + data.initialfee / trucksize);
        draw_occupancy(trucksize, cargosize, 15);
        var from_lat = data.pickupaddr_lat ? data.pickupaddr_lat : 40.679308;
        var from_lng = data.pickupaddr_lng ? data.pickupaddr_lng : -74.012910;
        var to_lat = data.orderRecords[0].stopaddr_lat ? data.orderRecords[0].stopaddr_lat : 40.679308;
        var to_lng = data.orderRecords[0].stopaddr_lng ? data.orderRecords[0].stopaddr_lng : -73.959352;
        draw_route(from_lat, from_lng, to_lat, to_lng);
        // draw_route(
        //     data.pickupaddr_lat,
        //     data.pickupaddr_lng,
        //     data.deliveraddr_lat,
        //     data.deliveraddr_lng,);
    }
    </script>

    <script text="text/javascript">
    $(function(){
        // accept order form
        $('#accept-form').submit(function(e){
            $.ajax({
                url: '/v1/order/' + oid,
                type: 'PUT',
                data: {
                    did: {[current_user.did]}, // FIXME: Real SID !
                    trucksize: $('input[name="trucksize"]').val(),
                    initialfee: $('input[name="initialfee"]').val(),
                    perstopfee: 10.0,
                    status: 'D',
                },
                success: function(data) {
                    if (Math.floor(data.status/100) == 2) {
                        alert('Success!');
                        location.href = '/d-myorder';
                    } else {
                        console.log('Accept order failed');
                    }
                }
            });
            e.preventDefault();
        });
        $('#accept-submit').click(function(e){
            $('#accept-form').submit();
            e.preventDefault();
        });
        // close order form
        $('#close-form').submit(function(e){
            $.ajax({
                url: '/v1/order/' + oid,
                type: 'PUT',
                data: {
                    status: 'C',
                },
                success: function(data) {
                    if (Math.floor(data.status/100) == 2) {
                        alert('Success!');
                        location.href = '/d-myorder';
                    } else {
                        console.log('Close order failed');
                    }
                }
            });
            e.preventDefault();
        });
        $('#close-submit').click(function(e){
            $('#close-form').submit();
            e.preventDefault();
        });
        // finish order form
        $('#finish-form').submit(function(e){
            $.ajax({
                url: '/v1/order/' + oid,
                type: 'PUT',
                data: {
                    status: 'F',
                },
                success: function(data) {
                    if (Math.floor(data.status/100) == 2) {
                        alert('Success!');
                        location.href = '/d-myorder';
                    } else {
                        console.log('Finish order failed');
                    }
                }
            });
            e.preventDefault();
        });
        $('#finish-submit').click(function(e){
            $('#finish-form').submit();
            e.preventDefault();
        });
    });
    </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        var raw_data = [
                [0, 60],   [1, 50],  [2, 40],  [3, 30],  [4, 18],  [5, 9],
              ];
        google.load('visualization', '1', {packages: ['corechart', 'line']});
        google.setOnLoadCallback(drawBasic);

        function drawBasic() {

              var data = new google.visualization.DataTable();
              data.addColumn('number', 'X');
              data.addColumn('number', 'Unit Price');

              data.addRows(raw_data);

              var options = {
                colors:['yellow','#E6E600'],
                backgroundColor: 'transparent',
                chartArea: {
                    top: 25,
                    left: 25,
                    width: 350,
                    height: 250
                },
                fontSize: 12
              };

              var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

              chart.draw(data, options);
            }
    </script>
{% endblock %}
