<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script src="/static/js/slick.min.js"></script>
<script src="/static/js/floatlabels.min.js"></script>
<script src="/static/js/placeholdem.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script src="/static/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-url/1.8.4/url.min.js"></script>
