<!-- <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true"> -->
    <!-- <div class="modal-dialog"> -->
        <form class="form-login" id="login-form" action="#" method="POST">
            <div class="row">

                <h2 class="form-login-heading" style="margin-left: 0px; font-weight: 300; font-family: 'Montserrat', sans-serif; padding: 20px 20px; font-size: 22px; background-color: #504562;" >Sign in</h2>

                <div class="login-wrap" style="padding: 20px;">
                    <button id="login-facebook" class="btn btn-block btn-facebook">
                        CONNECT WITH FACEBOOK
                    </button>
                    <hr>

                    <div class="form-group">
                        <label for="input-email">EMAIL</label>
                        <input type="text" id="input-email" class="form-control" name="email">
                        <input type="hidden" name="who" value="{[who]}">
                    </div>
                    <div class="form-group">
                        <label class="input-passwd">PASSWORD</label>
                        <input type="password" id="input-passwd" class="form-control" name="passwd">
                    </div>
                    <div class="checkbox">
                        <div class="pull-right">
                            <a href="#" style="position: middle;">Forgot Password?</a>
                        </div>
                    </div>
                    <br>
                    <div class="log-in">
                        <button class="btn btn-theme btn-block" id="login-submit">
                            <i class="fa fa-lock"></i> SIGN IN
                        </button>
                    </div>
                    <hr>

                    <p style="font-family: 'Lato'; text-align: center;">Don't have an account? <a>Sign up</a></p>
                    <p style="font-family: 'Lato'; text-align: center;">I'm a <a href="/home">Shipper</a></p>
                </div>
            </div>
        </form>
    <!-- </div> -->
<!-- </div> -->
