{% extends "base.html" %}
{% block mycss %}
    <link rel="stylesheet" href="/static/css/freeze2.css">
    <link rel="stylesheet" href="/static/css/d-searchlist.css">
{% endblock %}
{% block body %}
    {% include "d-header.html" %}
    <div class="container">
        <div class="row  user-menu-container square" style="margin-top: 150px;">
            <div class="col-md-12 user-details">
                <div class="row coralbg white">
                    <div class="col-md-6 no-pad">
                        <div class="user-pad">
                            <h2>Welcome back, <span id="s-name">Tom Young</span></h2>
                            <h4 class="white"><i class="fa fa-street-view"></i> <span id="s-addr1">Claremont Avenue 122, APT 2B</span></h4>
                            <h4 class="white"> <span id="s-addr2">New York, NY</span></h4>
                            <h4 class="white"><i class="fa fa-envelope-o"></i> <span id="s-email">jj2222@gmail.com</span></h4>
                            <h4 class="white"><i class="fa fa-phone"></i> <span id="s-phone">(917) - 912 - 0215</span></h4>
                        </div>
                    </div>
                    <div class="col-md-6 no-pad">
                        <div class="user-image"> <img src="https://farm7.staticflickr.com/6163/6195546981_200e87ddaf_b.jpg" class="img-responsive thumbnail"> </div>
                    </div>
                </div>
                <div class="row overview">
                    <div class="col-md-4 user-pad text-center">
                        <h3>TOTAL DELIVERIES</h3>
                        <h4 id="s-total-orders">10</h4> </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3>TOTAL INCOME</h3>
                        <h4><i class="fa fa-usd fa-fw"></i><span id="s-total-saving">810</span></h4> </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3>CREDITS</h3>
                        <h4><span id="s-credit">1255</span></h4> </div>
                </div>
            </div>
        </div>
        <div class="row user-menu-container square">
            <div class="col-md-1 user-menu-btns">
                <div class="btn-group-vertical square" id="responsive">
                    <a href="#" class="btn btn-default"> <i class="fa fa-heart-o fa-3x"></i> </a>
                    <a href="#" class="btn btn-default"> <i class="fa fa-envelope-o fa-3x"></i> </a>
                    <a href="#" class="btn btn-default"> <i class="fa fa-facebook-square fa-3x"></i> </a>
                </div>
            </div>
            <div class="col-md-11 user-menu user-pad">

                <div class="user-menu-content active">
                    <h3>
                    HOT SPOT
                </h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="view">
                                <div class="caption">
                                    <p>WeDeliver Design</p> <a href="" rel="tooltip" title="Appreciate"><span class="fa fa-heart-o fa-2x"></span></a> <a href="" rel="tooltip" title="View"><span class="fa fa-search fa-2x"></span></a> </div> <img src="/static/img/Ikea.jpg" class="img-responsive"> </div>
                            <div class="info">
                                <p class="small" style="text-overflow: ellipsis">Ikea at Brooklyn</p>
                                <!-- <p class="small coral text-right"><i class="fa fa-clock-o"></i> Posted Today | 10:42 A.M.</small> -->
                            </div>
                            <div class="stats turqbg"> <span class="fa fa-heart-o"> <strong>58</strong></span> <span class="fa fa-eye pull-right"> <strong>137</strong></span> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="view">
                                <div class="caption">
                                    <p>WeDeliver Design</p> <a href="" rel="tooltip" title="Appreciate"><span class="fa fa-heart-o fa-2x"></span></a> <a href="" rel="tooltip" title="View"><span class="fa fa-search fa-2x"></span></a> </div> <img src="/static/img/Walmart.jpg" class="img-responsive"> </div>
                            <div class="info">
                                <p class="small" style="text-overflow: ellipsis">Walmart</p>
                                <!-- <p class="small coral text-right"><i class="fa fa-clock-o"></i> Posted Today | 10:42 A.M.</small> -->
                            </div>
                            <div class="stats turqbg"> <span class="fa fa-heart-o"> <strong>89</strong></span> <span class="fa fa-eye pull-right"> <strong>120</strong></span> </div>
                        </div>
                    </div>
                </div>

                 <div class="user-menu-content">
                    <h3>
                    Your Inbox
                </h3>
                    <ul class="user-menu-list">
                        <li>
                            <h4>Tom join the order  <small class="coral"><strong>"Go IKEA!"</strong> , the unit price drop to $5. </small></h4> </li>
                        <li>
                            <h4>Your order "Let us shop from woodbury" is fininshed at <small class="coral"><i class="fa fa-clock-o"></i> May 29, 2015 10:42 A.M.</small></h4> </li>
                        <li>
                            <button type="button" class="btn btn-labeled btn-danger" href="#"> <span class="btn-label"><i class="fa fa-envelope-o"></i></span>View All Messages</button>
                        </li>
                    </ul>
                </div>

                <div class="user-menu-content">
                    <h2 class="text-center">
                    Share your experiences
                </h2>
                    <center><i class="fa fa-diamond fa-2x" ></i></center>
                    <div class="share-links">
                        <center>
                            <button type="button" class="btn btn-lg btn-labeled btn-success" href="#" style="margin-bottom: 15px;"> <span class="btn-label"><i class="fa fa-bell-o"></i></span>Share your delivery experience on Facebook, and get 50 credits as reward!</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--the style for profile part-->
    <style>
    .square,
    .btn {
        border-radius: 0px!important;
    }
    /* -- color classes -- */
    /*the color needed to be specially configured to overlay the parent css*/

    h3,
    .h3 {
        color: #181717;
    }

    .coralbg {
        background-color: #978D8F;
    }

    .coral {
        color: #FA396f;
    }

    .turqbg {
        background-color: #46D8D2;
    }

    .turq {
        color: #46D8D2;
    }

    .white {
        color: #fff!important;
    }
    /* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */

    div.user-menu-container {
        z-index: 10;
        background-color: #fff;
        margin-top: 30px;
        background-clip: padding-box;
        opacity: 0.97;
        filter: alpha(opacity=97);
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }

    div.user-menu-container .btn-lg {
        padding: 0px 12px;
    }

    div.user-menu-container h4 {
        font-weight: 300;
        color: #8b8b8b;
    }

    div.user-menu-container a,
    div.user-menu-container .btn {
        transition: 1s ease;
    }

    div.user-menu-container .thumbnail {
        width: 100%;
        min-height: 200px;
        border: 0px!important;
        padding: 0px;
        border-radius: 0;
        border: 0px!important;
    }
    /* -- Vertical Button Group -- */

    div.user-menu-container .btn-group-vertical {
        display: block;
    }

    div.user-menu-container .btn-group-vertical>a {
        padding: 20px 25px;
        background-color: #978D8F;
        color: white;
        border-color: #fff;
    }

    div.btn-group-vertical>a:hover {
        color: white;
        border-color: white;
    }

    div.btn-group-vertical>a.active {
        background: #262828;
        box-shadow: none;
        color: white;
    }
    /* -- Individual button styles of vertical btn group -- */

    div.user-menu-btns {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }

    div.user-menu-btns div.btn-group-vertical>a.active:after {
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -13px;
        border-left: 0;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        border-left: 10px solid #978D8F;
    }
    /* -- The main tab & content styling of the vertical buttons info-- */

    div.user-menu-content {
        color: #323232;
    }

    ul.user-menu-list {
        list-style: none;
        margin-top: 20px;
        margin-bottom: 0;
        padding: 10px;
        border: 1px solid #eee;
    }

    ul.user-menu-list>li {
        padding-bottom: 8px;
        text-align: center;
    }

    div.user-menu div.user-menu-content:not(.active) {
        display: none;
    }
    /* -- The btn stylings for the btn icons -- */

    .btn-label {
        position: relative;
        left: -12px;
        display: inline-block;
        padding: 6px 12px;
        background: rgba(0, 0, 0, 0.15);
        border-radius: 3px 0 0 3px;
    }

    .btn-labeled {
        padding-top: 0;
        padding-bottom: 0;
    }
    /* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

    .user-pad {
        padding: 20px 25px;
    }

    .no-pad {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }

    .user-details {
        background: #eee;
        min-height: 333px;
    }

    .user-image {
        max-height: 200px;
        overflow: hidden;
    }

    .overview h3 {
        font-weight: 300;
        margin-top: 15px;
        margin: 10px 0 0 0;
    }

    .overview h4 {
        font-weight: bold!important;
        font-size: 40px;
        margin-top: 0;
    }

    .view {
        position: relative;
        overflow: hidden;
        margin-top: 10px;
    }

    .view p {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .caption {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(70, 216, 210, 0.44);
        width: 100%;
        height: 100%;
        padding: 2%;
        display: none;
        text-align: center;
        color: #fff !important;
        z-index: 2;
    }

    .caption a {
        padding-right: 10px;
        color: #fff;
    }

    .info {
        display: block;
        padding: 10px;
        background: #eee;
        text-transform: uppercase;
        font-weight: 300;
        text-align: right;
    }

    .info p,
    .stats p {
        margin-bottom: 0;
    }

    .stats {
        display: block;
        padding: 10px;
        color: white;
    }

    .share-links {
        border: 1px solid #eee;
        padding: 15px;
        margin-top: 15px;
    }

    .square,
    .btn {
        border-radius: 0px!important;
    }

    .centered-form {
        margin-top: 100px;
    }
    /* -- media query for user profile image -- */

    @media (max-width: 767px) {
        .user-image {
            max-height: 400px;
        }
    }
    </style>

    {% include 'common-js-libs.html' %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    var raw_data = [
        ['Date', 'Actual Pay', 'Expected Pay', 'You Save'],
        ['2014-09-10', 33, 100, 67],
        ['2015-01-10', 44, 100, 56],
        ['2015-02-20', 35, 100, 65],
        ['2015-05-03', 40, 100, 60]
    ];
    google.load("visualization", "1.1", {
        packages: ["bar"]
    });
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable(raw_data);
        var options = {
            chart: {
                title: 'Recent Payment Show',
                subtitle: 'Actual Pay, Expected Pay, and You Save: 2014--',
            }
        };
        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
        chart.draw(data, options);
    }
    </script>

    <script type="text/javascript">
    $(document).ready(function() {
        var $btnSets = $('#responsive'),
            $btnLinks = $btnSets.find('a');
        $btnLinks.click(function(e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.user-menu>div.user-menu-content").removeClass("active");
            $("div.user-menu>div.user-menu-content").eq(index).addClass("active");
        });
    });
    </script>

    <script src="/static/js/scripts.js"></script>
    <!-- This part is for background with header-->
    <style>
    .margin-top-20 {
        margin-top: 20px;
    }

    body {
        background: url('/static/img/freeze/bk-freeze2.jpg');
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 40px;
    }
    </style>
    <!-- {[ data ]} -->
    <script type="text/javascript">
    var sid = {[current_user.sid]};
    $.getJSON('/v1/shipper/'+sid, function(res){
        data = res.data[0];
        $('#s-name').html(data.name);
        $('#s-email').html(data.email);
        $('#s-addr1').html(data.addr_1);
        $('#s-addr2').html(data.addr_2);
        $('#s-phone').html(data.phone);
    });
    $.getJSON('/v1/orderRecord', {
        sid: sid,
        status: 'F',
    }, function(res){
        data = res.data;
        console.log(data);
        $('#s-total-orders').html(data.length);
        var total_save = 0;
        $.each(data, function(i, o){
            var totalfee = o.initialfee/o.totalcargosize*o.cargosize;
            total_save += o.initialfee - totalfee;
        });
        total_save = Math.floor(total_save);
        $('#s-total-saving').html(total_save);
        $('#s-credit').html(data.length * 10);
    });
    </script>
    <!--This part is for click action in profile -->
    <script>
    $(function() {
        $("[rel='tooltip']").tooltip();
        $('.view').hover(function() {
            $(this).find('.caption').slideDown(250); //.fadeIn(250)
        }, function() {
            $(this).find('.caption').slideUp(250); //.fadeOut(205)
        });
    });
    </script>
{% endblock %}
