{% extends 'base.html' %}
{% block body %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" href="/home">We Deliver</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated() %}
        <li>
          <a>Hi {{ current_user.name }}!</a>
        </li>
        {% else %}
        <li>
          <a href="/login">Log in</a>
        </li>
        <li>
          <a href="/login">Sign up</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- search box-->
<div class="intro result">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <h3 class="section-heading">Cheap Group Delivery</h3>
        <form name="sentMessage" id="sSearchForm" action="{{url_for('shipper_search')}}" novalidate>
          <div class="form-group">
            <div class='input-group date'>
              <input type="text" class="form-control" placeholder="Date *" id="date" required data-validation-required-message="Please enter date." name="date">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <div class='input-group'>
              <input type="text" class="form-control" placeholder="Depart *" id="depart" required data-validation-required-message="Please enter depart location." name="depart">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-map-marker"></span>
              </span>
            </div>
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <div class='input-group'>
              <input type="weight" class="form-control" placeholder="Weight *" id="weight" required data-validation-required-message="Please enter weight." name="weight">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-shopping-cart"></span>
              </span>
            </div>
            <p class="help-block text-danger"></p>
          </div>
          <button type="submit" class="btn btn-xl" id="shipper-login">Search</button>
        </div>
        <div class="col-md-8 col-offset-1 text-center">
          <h3 class="section-heading">Search Result</h3>
          <div class="content-section-a">
            <div class="row">
              <div class="col-md-10 col-offset-1">
                <div class="search-result">
                  <!-- TODO -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- search result -->


<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="/home">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          {% if current_user.is_authenticated() %}
          <li>
            <a href="/s-post">Post</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/s-ongoing">Ongoing</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/account">My account</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/logout">Log out</a>
          </li>
          {% else %}
          <li>
            <a href="/login">Log in</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/login">Sign up</a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted small">Copyright &copy; WeDeliver 2015. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
</footer>
{% endblock %}

{% block script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script type="text/javascript">
$(function () {
  /* Date Picker */
  $('.date').datepicker({
    format: "mm/dd/yyyy"
  });
  /* Google Place Search */
  var placeSearch, autocomplete;
  autocomplete = new google.maps.places.Autocomplete(
    ($("#depart")[0]),
    { types: ['geocode'] }
    );
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    var place = autocomplete.getPlace();
    console.log(place);
  });
  /* Search form */
  $("#sSearchForm").submit(function(e) {
    $.ajax({
      url: $(this).attr("action"),
      type: "POST",
      data: $(this).serializeArray(),
      success: function(data) {
        if (data.status == 1) {
          console.log(data.results);
        } else { // error
          alert(data.message);
        }
      }
    });
    e.preventDefault();
  });
  $("#shipper-search-submit").click(function(e){
    $("#sSearchForm").submit();
    e.preventDefault();
  });
});
</script>
{% endblock %}
