{% extends "base.html" %}
{% block mycss %}
    <link rel="stylesheet" href="/static/css/freeze2.css">
    <link rel="stylesheet" href="/static/css/d-searchlist.css">
{% endblock %}
{% block body %}
    {% include "d-header.html" %}
    <div class="wrapper">
        <div class="box">
            <div class="row">
                <!--search box-->
                <div class="container auth col-sm-3" style = "padding-top: 170px; padding-left: 70px; padding-right: 30px;">
                    <div id="big-form" class="well auth-box">
                        <form id="search-form" action="" method="GET">
                            <fieldset>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="pickup-loc" style="font-size: 16px;"> <i class="fa fa-truck"></i> Pickup Location</label>
                                    <input id="pickup-loc" name="pickuploc" placeholder="IKEA Brooklyn" class="form-control input-md" type="text" data-toggle="modal" data-target="#place-modal" style="padding: 0 0;">
                                    <input type="hidden" name="pickuploc_lat" class="addr_lat">
                                    <input type="hidden" name="pickuploc_lng" class="addr_lng">
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="deliver-loc" style="font-size: 16px;"><i class="fa fa-street-view"></i> Delivery Location</label>
                                    <input id="deliver-loc" name="deliverloc" placeholder="Columbia University" class="form-control input-md" type="text" data-toggle="modal" data-target="#place-modal" style="padding: 0 0;">
                                    <input type="hidden" name="deliverloc_lat" class="addr_lat">
                                    <input type="hidden" name="deliverloc_lng" class="addr_lng">
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="pickup-date" style="font-size: 16px;"> <i class="fa fa-calendar"></i> Pickup Time</label>
                                    <input id="pickup-date" name="pickupdate" placeholder="04/29/2015" class="form-control input-md date" type="text" readonly="readonly" style="padding: 0 0;">
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="deliver-date" style="font-size: 16px;"> <i class="fa fa-calendar-o"></i> Delivery Time</label>
                                    <input id="deliver-date" name="deliverdate" placeholder="04/30/2015" class="form-control input-md date" type="text" readonly="readonly" style="padding: 0 0;">
                                </div>

                                <!-- Button -->
                                <div class="form-group" style="margin-bottom: 25px;">
                                    <button id="submit-search" class="btn btn-primary btn-search" style="background-color:#006262;">Search</button>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- main -->
                <div class="column col-sm-9" id="main" style="padding-top: 200px; padding-right: 0; padding-left: 5px;">
                    <div class="padding">
                        <div class="full col-sm-11" style="padding-right: 0; padding-left: 5px;">

                            <!-- content -->
                            <div class="row" style="font-size: 13px; font-family: 'Lucida Grande', sans-serif;">
                                <div class = "col-sm-5 page-header text-muted text-center col-header-list">
                                    Pick-up Info
                                </div>
                                <div class="col-sm-5 page-header text-muted text-center col-header-list">
                                    Deliverery Info
                                </div>
                                <div class="col-sm-2 page-header text-muted text-center col-header-list">
                                    Choice
                                </div>
                            </div>

                            <div id="orderlist"></div> <!-- /#orderlist -->

                            <div class="col-sm-12">
                                <div class="page-header text-muted divider">
                                    <a id="prev-page"> <font size="3" color="white"> <i class="fa fa-angle-up"></i> Up </font></a>
                                    <a id="next-page"> <font size="3" color="white"> <i class="fa fa-angle-down"></i> Next </font></a>
                                </div>
                            </div>

                            <!--This part is for showing favoriate deliver's logo-->
                            <div class ="row">
                                <div class="col-sm-4 text-center">
                                    <div class="view" style="font-family: 'Arial', sans-serif;" >
                                         <h4>Shunfeng Student Express</h4>
                                         <img src="/static/img/shungfeng_logo.png" height="120">
                                     </div>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div class="view" style="font-family: 'Arial', sans-serif;">
                                         <h4>Planet Express</h4>
                                         <img src="/static/img/Planet-Express-Logo.png" height="120">
                                     </div>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div class="view" style="font-family: 'Arial', sans-serif;">
                                         <h4>Panda Express</h4>
                                         <img src="/static/img/Panda_Express_Logo.png" height="120">
                                     </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-header-list"  style="font-size: 13px; font-family: 'Source Sans Pro', sans-serif;">
                                <div class="page-header text-muted divider">
                                </div>
                            </div>
                            <hr>

                            <div class="row" id="footer">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6">
                                    <p>
                                        <a href="#" class="pull-right" style="color:white;">©Copyright Inc.</a>
                                    </p>
                                </div>
                            </div>

                        </div><!-- /col-9 -->
                    </div><!-- /padding -->
                </div><!-- /main -->
            </div>
        </div>
    </div>
    <script id="list-template" type="text/x-jsrender">
    {{for data}}
        <div class="row">
            <div class="col-sm-10 text-center">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <h5 class="white othertext">
                            <span>{{:pickupaddr}}</span>
                        </h5>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h5 class="white othertext">
                            <span>{{:deliverloc}}</span>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <h5 class="white othertext">
                            <span>{{:pickuptime}}</span>
                        </h5>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h5 class="white othertext">
                            <span>{{:deliverdate}}</span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 text-center">
                <a class="btn btn-block btn-select" href="/d-accept-order?oid={{:oid}}">Select</a>
            </div>
        </div>

        {{if #index < #parent.data.length - 1}}
        <div class="row">
            <div class="page-header text-muted"></div>
        </div>
        {{/if}}
    {{/for}}
    </script>

    <div class="modal fade" id="place-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog map-dialog">
            <div class="modal-content">
                <!-- TO BE LODADED -->
            </div><!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->

    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/floatlabels.min.js"></script>
    <script src="/static/js/placeholdem.min.js"></script>
    <script src="/static/js/jsrender.js"></script>
    <script src="/static/js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="/static/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/js-url/1.8.4/url.min.js"></script>
    <script src="/static/js/scripts.js"></script>

    <!--This part is for overlaying text-muted css, to make some headline as white color-->
    <style>
    .text-muted {
        color: #FFF;
    }
    </style>

    <!-- This script and style part is for search form-->
    <style>
    .margin-top-20 {
        margin-top: 20px;
    }

    body {
        background: url('/static/img/freeze/bk-freeze2.jpg');
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 40px;
    }

    .auth h1 {
        color: #fff!important;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }

    .auth h1 span {
        font-size: 21px;
        display: block;
        padding-top: 20px;
    }

    .auth .auth-box legend {
        color: #fff;
        border: none;
        font-weight: 300;
        font-size: 24px;
    }

    .auth .auth-box {
        background-color: #fff;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.4);
        ;
        background-color: rgba(255, 255, 255, 0.2);
        margin-top: 40px;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
        -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
        box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: background 1s ease-in-out;
        -moz-transition: background 1s ease-in-out;
        -ms-transition: background 1s ease-in-out;
        -o-transition: background 1s ease-in-out;
        transition: background 1s ease-in-out;
    }

    @media(max-width:460px) {
        .auth .auth-box {
            margin: 0 10px;
        }
    }

    .auth .auth-box input::-webkit-input-placeholder {
        /* WebKit browsers */

        color: #fff;
        font-weight: 300;
    }

    .auth .auth-box input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */

        color: #fff;
        font-weight: 300;
    }

    .auth .auth-box input::-moz-placeholder {
        /* Mozilla Firefox 19+ */

        color: #fff;
        font-weight: 300;
    }

    .auth .auth-box input:-ms-input-placeholder {
        /* Internet Explorer 10+ */

        color: #fff;
        font-weight: 300;
    }

    .auth span.input-group-addon,
    .input-group-btn button {
        border: none;
        background: #fff!important;
        color: #000!important;
    }

    .auth form {
        font-weight: 300!important;
    }

    .auth form input[type="text"],
    .auth form input[type="password"],
    .auth form input[type="email"],
    .auth form input[type="search"] {
        border: none;
        padding: 10px 0 10px 0;
        background-color: rgba(255, 255, 255, 0)!important;
        background: rgba(255, 255, 255, 0);
        color: #fff;
        font-size: 16px;
        border-bottom: 1px dotted #fff;
        border-radius: 0;
        box-shadow: none!important;
        height: auto;
    }

    .auth textarea {
        background-color: rgba(255, 255, 255, 0)!important;
        color: #fff!important;
    }

    .auth input[type="file"] {
        color: #fff;
    }

    .auth form label {
        color: #fff;
        font-size: 15px;
        font-weight: 300;
    }
    /*for radios & checkbox labels*/

    .auth .radio label,
    .auth label.radio-inline,
    .auth .checkbox label,
    .auth label.checkbox-inline {
        font-size: 14px;
    }

    .auth form .help-block {
        color: #fff;
    }

    .auth form select {
        background-color: rgba(255, 255, 255, 0)!important;
        background: rgba(255, 255, 255, 0);
        color: #fff!important;
        border-bottom: 1px solid #fff!important;
        border-radius: 0;
        box-shadow: none;
    }

    .auth form select option {
        color: #000;
    }
    /*multiple select*/

    .auth select[multiple] option,
    .auth select[size] {
        color: #fff!important;
    }
    /*Form buttons*/

    .auth form .btn {
        background: none;
        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
        -o-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;
    }

    .auth form .btn-default {
        color: #fff;
        border-color: #fff;
    }

    .auth form .btn-default:hover {
        background: rgba(225, 225, 225, 0.3);
        color: #fff;
        border-color: #fff;
    }

    .auth form .btn-primary:hover {
        background: rgba(66, 139, 202, 0.3);
    }

    .auth form .btn-success:hover {
        background: rgba(92, 184, 92, 0.3);
    }

    .auth form .btn-info:hover {
        background: rgba(91, 192, 222, 0.3);
    }

    .auth form .btn-warning:hover {
        background: rgba(240, 173, 78, 0.3);
    }

    .auth form .btn-danger:hover {
        background: rgba(217, 83, 79, 0.3);
    }

    .auth form .btn-link {
        border: none;
        color: #fff;
        padding-left: 0;
    }

    .auth form .btn-link:hover {
        background: none;
    }

    .auth label.label-floatlabel {
        font-weight: 300;
        font-size: 11px;
        color: #fff;
        left: 0!important;
        top: 1px!important;
    }
    </style>



    <!--show the script for show pre page and next page-->
    <script>
        function showPrePage() {
            alert("want to show previous page?");
        }

        function showNextPage() {
            alert("want to show next page?");
        }
    </script>


    <script>
    $(document).ready(function() {
        //Floatlabel
        // $('input').floatlabel();
        /* Date Picker */
        $('.date').datepicker({
            format: "mm/dd/yyyy"
        });
        // refill search form and search
        $('input[name="pickuploc"]').val(urldecode($.url('?pickuploc')));
        $('input[name="deliverloc"]').val(urldecode($.url('?deliverloc')));
        $('input[name="pickupdate"]').val(urldecode($.url('?pickupdate')));
        $('input[name="deliverdate"]').val(urldecode($.url('?deliverdate')));
        // submit search buttton
        $('#submit-search').click(function(e){
            $('#search-form').submit();
            e.preventDefault();
        });
        $('#search-form').submit(function(e){
            $.getJSON('/v1/order', { // data
                pickupaddress: $('input[name="pickuploc"]').val(),
                stopaddress: $('input[name="deliverloc"]').val(),
                pickupdate: $('input[name="pickuptime"]').val(),
                cargosize: 0, // FIXME
                none_key: $('input[name="deliverdate"]').val(),
                status: 'O',
                debug: 1,  // testing backdoor
            }, function(data) { // success
                console.log(data);
                $('#orderlist').html(
                    $("#list-template").render(data)
                );
            });
            e.preventDefault();
        });
        /* load modals */
        $('#place-modal').on('show.bs.modal', function(e) {
            $(this).find('.modal-content').load('/placemodal');
        });
        $('#place-modal').on('shown.bs.modal', function(e) {
            var source = e.relatedTarget;
            initGmapSearch();
            $(this).data('source', source);
            $('#pac-input').val($(source).val());
        });
        $('#place-modal').on('hide.bs.modal', function(e) {
            var source = $(this).data('source');
            var addr = $('#pac-input').data('addr');
            if (addr) { $(source).val(addr); }
        });
        //
        $('#search-form').submit();
    });
    </script>

{% endblock %}
