<!-- <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true"> -->
    <!-- <div class="modal-dialog"> -->
        <form class="form-login" action="/user/login" method="POST">

            <div class="row">
                <h2 class="form-login-heading" style="margin-left: 15px; font-weight: 300; font-family: 'Montserrat', sans-serif; padding: 20px 20px; font-size: 22px;" >Sign in</h2>

                <div class="login-wrap">
                    <button class="btn btn-block btn-facebook">
                        CONNECT WITH FACEBOOK
                    </button>
                    <hr>

                    <div class="form-group">
                        <label class="label">EMAIL</label>
                        <input type="text" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label class="label">PASSWORD</label>
                        <input type="text" class="form-control" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label class="pull-right">
                            <a data-toggle="modal" href="login.html#myModal" style= "position: middle;"> Forgot Password?</a>
                        </label>
                    </div>
                    <div class="log-in">
                        <br>
                        <button class="btn btn-theme btn-block" href="index.html" type="submit">
                            <i class="fa fa-lock"></i> SIGN IN
                        </button>
                    </div>
                    <hr>
                    <p style="font-family: 'Lato'; text-align: center;">Don't have an account? <a>Sign up</a></p>
                    <p style="font-family: 'Lato'; text-align: center;">I'm a <a href="/d-home">Deliverer</a></p>

                </div>
            </div>
        </form>
    <!-- </div> -->
<!-- </div> -->
