<div class="container">
    <div class="row user-menu-container square" style="margin-top: 180px; background-color: rgba(255, 255, 255, 0.1);">
        <div class="col-md-1 user-menu-btns">
            <div class="btn-group-vertical square" id="responsive">
                <a href="#" class="btn btn-default active"> <i class="fa fa-connectdevelop fa-3x"></i> </a>
                <a href="#" class="btn btn-default"> <i class="fa fa-question-circle fa-3x"></i></a>
                <a href="#" class="btn btn-default"> <i class="fa fa-truck fa-3x"></i> </a>
            </div>
        </div>
        <div class="col-md-11 user-menu user-pad">
            <div class="user-menu-content active">
                <h3>
                    Onging Orders
                </h3>
                <div class="row">
                    <div id="ongoing-panel">
                        <!-- TO BE LOADED -->
                    </div>
                    <!--divider line at the bottom of the page-->
                    <div class="col-sm-12">
                        <div class="page-header text-muted divider">
                            <a class="prev-page" data-panel="ongoing-panel"> <font size="3" color="black"> <i class="fa fa-angle-up"></i> Up </font></a>
                            <a class="next-page" data-panel="ongoing-panel"> <font size="3" color="black"> <i class="fa fa-angle-down"></i> Next </font></a>
                        </div>
                    </div>
                </div>
            </div>  <!-- /.user-menu-content -->
            <div class="user-menu-content">
                <h3>Pending Orders</h3>
                <div class="row">
                    <div id="pending-panel">
                        <!-- TO BE LOADED -->
                    </div>
                    <!--divider line at the bottom of the page-->
                    <div class="col-sm-12">
                        <div class="page-header text-muted divider">
                            <a class="prev-page" data-panel="pending-panel"> <font size="3" color="black"> <i class="fa fa-angle-up"></i> Up </font></a>
                            <a class="next-page" data-panel="pending-panel"> <font size="3" color="black"> <i class="fa fa-angle-down"></i> Next </font></a>
                        </div>
                    </div>
                </div>
            </div> <!-- /.user-menu-content -->
            <div class="user-menu-content">
                <h3>Finished Orders</h3>
                <div class="row">
                    <div id="finished-panel">
                        <!-- TO BE LOADED -->
                    </div>
                    <!--divider line at the bottom of the page-->
                    <div class="col-sm-12">
                        <div class="page-header text-muted divider">
                            <a class="prev-page" data-panel="finished-panel"> <font size="3" color="black"> <i class="fa fa-angle-up"></i> Up </font></a>
                            <a class="next-page" data-panel="finished-panel"> <font size="3" color="black"> <i class="fa fa-angle-down"></i> Next </font></a>
                        </div>
                    </div>
                </div>
            </div> <!-- /.user-menu-content -->
        </div>
    </div>
</div>
