{% extends "base.html" %}
{% block mycss %}
    <link rel="stylesheet" href="/static/css/index-login.css">
    <link rel="stylesheet" href="/static/css/searchlist-header.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
{% endblock %}
{% block body %}
    {% include "s-header.html" %}
    <div class="wrapper">
        <div class="box">
            <div class="row">

                <!--search box-->
                <div class="container auth col-sm-8 col-sm-offset-2" style="padding-top: 150px; padding-left: 50px; padding-right: 50px;">
                    <div id="big-form" class="well auth-box">
                        <form id="post-form" action="#" method="POST">
                            <fieldset>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label" for="the-title" style="font-size: 16px;">Title</label>
                                        <input id="the-title" class="form-control input-md" type="text" name="title">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label" for="pickup-addr" style="font-size: 16px;"> <i class="fa fa-truck"></i> Pickup Location</label>
                                            <input id="pickup-addr" name="pickupaddr" class="form-control input-md" type="text" data-toggle="modal" data-target="#place-modal">
                                            <input type="hidden" name="pickupaddr_lat" value="0.0" class="addr_lat">
                                            <input type="hidden" name="pickupaddr_lng" value="0.0" class="addr_lng">
                                        </div>
                                    </div>
                                    <div class = "col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label" for="deliver-addr" style="font-size: 16px;"><i class="fa fa-street-view"></i> Delivery Location</label>
                                            <input id="deliver-addr" name="deliveraddr" class="form-control input-md" type="text" data-toggle="modal" data-target="#place-modal">
                                            <input type="hidden" name="deliveraddr_lat" value="0.0" class="addr_lat">
                                            <input type="hidden" name="deliveraddr_lng" value="0.0" class="addr_lng">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label" for="pickup-time" style="font-size: 16px;"> <i class="fa fa-calendar"></i> Pickup Time</label>
                                            <input id="pickup-time" name="pickuptime" class="form-control input-md datetime" type="text">
                                        </div>
                                    </div>
                                     <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label" for="deliver-time" style="font-size: 16px;"> <i class="fa fa-calendar-o"></i> Delivery Time</label>
                                            <input id="deliver-time" name="deliverdate" class="form-control input-md datetime" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label" for="cargo-size" style="font-size: 16px;"> <i class="fa fa-th"></i> Cargo Size</label>
                                            <input id="cargo-size" name="cargosize" class="form-control input-md" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- <div class="form-group">
                                            <label class="control-label" for="max-bid" style="font-size: 16px;"> <i class="fa fa-money"></i> Max Bid</label>
                                            <input id="max-bid" name="maxbid" class="form-control input-md" type="text">
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label" for="comment-text" style="font-size: 16px;">Comment</label>
                                        <br>
                                        <br>
                                        <textarea class="form-control" id="comment-text" name="comment" style="border-radius: 5px; font-size: 18px;"></textarea>
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-5">
                                        <div class="form-group" style="margin-bottom: 25px;">
                                            <button id="submit-post" class="btn btn-primary btn-search btn-post" style="background-color:#256EB8;">Post</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="place-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog map-dialog">
            <div class="modal-content">
                <!-- TO BE LODADED -->
            </div><!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->

    {% include 'common-js-libs.html' %}
    <script src="/static/js/scripts.js"></script>

    <!--This part is for overlaying text-muted css, to make some headline as white color-->
    <style>
    .text-muted {
        color: #FFF;
    }
    </style>

    <!-- This script and style part is for search form-->
    <style>
    .margin-top-20 {
        margin-top: 20px;
    }

    body {
        background: url('/static/img/freeze/bk-freeze-ga.jpg');
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 40px;
    }

    .auth h1 {
        color: #fff!important;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }

    .auth h1 span {
        font-size: 21px;
        display: block;
        padding-top: 20px;
    }

    .auth .auth-box legend {
        color: #fff;
        border: none;
        font-weight: 300;
        font-size: 24px;
    }

    .auth .auth-box {
        background-color: #fff;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.4);
        ;
        background-color: rgba(255, 255, 255, 0.2);
        margin-top: 40px;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
        -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
        box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: background 1s ease-in-out;
        -moz-transition: background 1s ease-in-out;
        -ms-transition: background 1s ease-in-out;
        -o-transition: background 1s ease-in-out;
        transition: background 1s ease-in-out;
    }

    @media(max-width:460px) {
        .auth .auth-box {
            margin: 0 10px;
        }
    }

    .auth .auth-box input::-webkit-input-placeholder {
        /* WebKit browsers */

        color: #fff;
        font-weight: 300;
    }

    .auth .auth-box input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */

        color: #fff;
        font-weight: 300;
    }

    .auth .auth-box input::-moz-placeholder {
        /* Mozilla Firefox 19+ */

        color: #fff;
        font-weight: 300;
    }

    .auth .auth-box input:-ms-input-placeholder {
        /* Internet Explorer 10+ */

        color: #fff;
        font-weight: 300;
    }

    .auth span.input-group-addon,
    .input-group-btn button {
        border: none;
        background: #fff!important;
        color: #000!important;
    }

    .auth form {
        font-weight: 300!important;
    }

    .auth form input[type="text"],
    .auth form input[type="password"],
    .auth form input[type="email"],
    .auth form input[type="search"] {
        border: none;
        padding: 10px 0 10px 0;
        background-color: rgba(255, 255, 255, 0)!important;
        background: rgba(255, 255, 255, 0);
        color: #fff;
        font-size: 16px;
        border-bottom: 1px dotted #fff;
        border-radius: 0;
        box-shadow: none!important;
        height: auto;
    }

    .auth textarea {
        background-color: rgba(255, 255, 255, 0)!important;
        color: #fff!important;
    }

    .auth input[type="file"] {
        color: #fff;
    }

    .auth form label {
        color: #fff;
        font-size: 15px;
        font-weight: 300;
    }
    /*for radios & checkbox labels*/

    .auth .radio label,
    .auth label.radio-inline,
    .auth .checkbox label,
    .auth label.checkbox-inline {
        font-size: 14px;
    }

    .auth form .help-block {
        color: #fff;
    }

    .auth form select {
        background-color: rgba(255, 255, 255, 0)!important;
        background: rgba(255, 255, 255, 0);
        color: #fff!important;
        border-bottom: 1px solid #fff!important;
        border-radius: 0;
        box-shadow: none;
    }

    .auth form select option {
        color: #000;
    }
    /*multiple select*/

    .auth select[multiple] option,
    .auth select[size] {
        color: #fff!important;
    }
    /*Form buttons*/

    .auth form .btn {
        background: none;
        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
        -o-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;
    }

    .auth form .btn-default {
        color: #fff;
        border-color: #fff;
    }

    .auth form .btn-default:hover {
        background: rgba(225, 225, 225, 0.3);
        color: #fff;
        border-color: #fff;
    }

    .auth form .btn-primary:hover {
        background: rgba(66, 139, 202, 0.3);
    }

    .auth form .btn-success:hover {
        background: rgba(92, 184, 92, 0.3);
    }

    .auth form .btn-info:hover {
        background: rgba(91, 192, 222, 0.3);
    }

    .auth form .btn-warning:hover {
        background: rgba(240, 173, 78, 0.3);
    }

    .auth form .btn-danger:hover {
        background: rgba(217, 83, 79, 0.3);
    }

    .auth form .btn-link {
        border: none;
        color: #fff;
        padding-left: 0;
    }

    .auth form .btn-link:hover {
        background: none;
    }

    .auth label.label-floatlabel {
        font-weight: 300;
        font-size: 11px;
        color: #fff;
        left: 0!important;
        top: 1px!important;
    }
    </style>

    <script>
    $(function() {
        $('.datetime').datetimepicker({
            format: "YYYY-MM-DD HH:mm:ss",
        });
        /* submit */
        $('#post-form').submit(function(e){
            $.post('/v1/order', {
                title: $('input[name="title"]').val(),
                pickupaddr: $('input[name="pickupaddr"]').val(),
                pickuptime: $('input[name="pickuptime"]').val(),
                pickupaddr_lat: $('input[name="pickupaddr_lat"]').val(),
                pickupaddr_lng: $('input[name="pickupaddr_lng"]').val(),
                totalcargosize: $('input[name="cargosize"]').val(),
            }, function(result){
                if (Math.floor(result.status / 100) != 2) {
                    alert(result.data);
                    return;
                }
                var oid = result.oid;
                $.post('/v1/orderRecord', {
                    oid: oid,
                    sid: {[current_user.sid]},
                    stopaddress: $('input[name="deliveraddr"]').val(),
                    stopaddr_lat: $('input[name="deliveraddr_lat"]').val(),
                    stopaddr_lng: $('input[name="deliveraddr_lng"]').val(),
                    cargosize: $('input[name="cargosize"]').val(),
                }, function(res){
                    if (Math.floor(res.status / 100) != 2)
                        return;
                    alert("Post success!");
                    location.href = '/myorder';
                });
            });
            e.preventDefault();
        });
        $('#submit-post').click(function(e){
            $('#post-form').submit();
            e.preventDefault();
        });
    });
    </script>
{% endblock %}
