{% extends 'base.html' %}
{% block body %}

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" href="/home">We Deliver</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated() %}
        <li>
          <a href="/s-search">Search</a>
        </li>
        <li>
          <a href="/s-post">Post</a>
        </li>
        <li>
          <a href="/s-ongoing">Ongoing</a>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" style="padding:9px">
            <img src="/static/img/portrait.png" class="img-circle" alt="Cinque Terre" width="32" height="32">
            {{ current_user.name }}
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Logout</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/s-account">Profile</a></li>
          </ul>
        </li>
        {% else %}
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/login">Login</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Main begin -->
<div class="intro result">
  <div class="container">
    <div class="row">
      <!-- search form begin -->
      <div class="col-md-3 text-center">
        <div class="search-header text-center">
          2 matched orders
        </div>
        <form name="sentMessage" id="sSearchForm" action="{{url_for('shipper_search')}}" novalidate>
          <div class="form-group">
            <label for="date">Pickup</label>
            <div class='input-group date'>
              <input type="text" class="form-control" placeholder="Date *" id="date" name="date">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <p class="help-block text-danger"></p>
            <div class="input-group">
              <input type="text" class="form-control place" placeholder="From *" id="date" name="date">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-map-marker"></span>
              </span>
            </div>
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <label for="depart">Ship to</label>
            <div class="input-group date">
              <input type="text" class="form-control" placeholder="Date *" id="date" name="date">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <p class="help-block text-danger"></p>
            <div class='input-group'>
              <input type="text" class="form-control place" placeholder="Depart *" id="depart" required data-validation-required-message="Please enter depart location." name="depart">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-map-marker"></span>
              </span>
            </div>
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <label for="weight">Size </label>
            <div class='input-group'>
              <input type="weight" class="form-control" placeholder="Weight *" id="weight" required data-validation-required-message="Please enter weight." name="weight">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-shopping-cart"></span>
              </span>
            </div>
            <p class="help-block text-danger"></p>
          </div>
          <button type="submit" class="btn btn-xl" id="shipper-login">Search</button>
        </div>
        <!-- search form end -->
        <!-- search result list begin -->
        <div class="col-md-9">
          <!-- search-header begin -->
          <div class="search-header text-center">
            <div class="row">
              <div class="col-md-2">Price/Person</div>
              <div class="col-md-3">Deliverer</div>
              <div class="col-md-4">Pickup</div>
              <div class="col-md-3">Capacity</div>
            </div>
          </div>
          <!-- search-header end -->
          <!-- search-result begin -->
          <div class="search-result">
            <!-- order-content begin -->
            <div class="order-content text-center">
              <div class="row">
                <div class="col-md-2">
                  <p>$30</p>
                  <a data-toggle="collapse" href="#detail-1" aria-expanded="false" aria-controls="detail-1">
                    Detail<span class="caret"></span>
                  </a>
                </div>
                <div class="col-md-3">
                  <p>Flushing Delivery</p>
                  <p>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  </p>
                </div>
                <div class="col-md-4">
                  <p>1 Beard St, Brooklyn, NY</p>
                  <p>10am, 05/01/2015</p>
                </div>
                <div class="col-md-3">
                  <p>4/10</p>
                  <p>2 people in group</p>
                </div>
              </div>
              <div class="collapse order-detail" id="detail-1">
                <div class="row">
                  <div class="col-md-3">
                    <p>Estimated Delivery</p>
                    <p>05/02/2015</p>
                  </div>
                  <div class="col-md-6">
                    <div class="price-linechart">Line Chart HERE</div>
                  </div>
                  <div class="col-md-3">
                    <a class="btn btn-primary" href="#">Join!</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- order-content end -->
          </div>
        </div>
        <!-- search result end -->
      </div>
    </div>
  </div>
</div>
<!-- Main end -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="/home">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          {% if current_user.is_authenticated() %}
          <li>
            <a href="/s-search">Search</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/s-post">Post</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/s-ongoing">Ongoing</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/s-account">My account</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/logout">Log out</a>
          </li>
          {% else %}
          <li>
            <a href="/login">Log in</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/login">Sign up</a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted small">Copyright &copy; WeDeliver 2015. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
</footer>
{% endblock %}

{% block script %}
<script src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
$(function () {
  /* Search form */
  $("#sSearchForm").submit(function(e) {
    $.ajax({
      url: $(this).attr("action"),
      type: "POST",
      data: $(this).serializeArray(),
      success: function(data) {
        if (data.status == 1) {
          console.log(data.results);
        } else { // error
          alert(data.message);
        }
      }
    });
    e.preventDefault();
  });
  $("#shipper-search-submit").click(function(e){
    $("#sSearchForm").submit();
    e.preventDefault();
  });
  // google.load('visualization', '1.1', {packages: ['line']});
  // google.setOnLoadCallback(function(){
  //   var chartOptions = {
  //     chart: {
  //       title: 'Box Office Earnings in First Two Weeks of Opening',
  //       subtitle: 'in millions of dollars (USD)'
  //     },
  //     width: 250,
  //     height: 250
  //   };
  //   $('.order-detail').on('shown.bs.collapse', function(){
  //     var data = new google.visualization.DataTable();
  //     data.addColumn('number', 'Change');
  //     data.addColumn('number', 'Price/Unit');
  //     var divChart = $(this).find(".price-linechart");
  //     var myData = data;
  //     myData.addRows([
  //       [1,  37.8],
  //       [2,  30.9],
  //       [3,  25.4],
  //     ]);
  //     divChart.draw(myData, chartOptions);
  //   });
  // });
});
</script>
{% endblock %}
