{% extends 'base.html' %}
{% block body %}
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="/home">We Deliver</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated() %}
            <li>
              <a>Hi {{ current_user.name }}!</a>
            </li>
            <li>
              <a href="/s-search">Search</a>
            </li>
            <li>
              <a href="/s-post">Post</a>
            </li>
            <li>
              <a href="/s-ongoing">Ongoing</a>
            </li>
            <li>
              <a href="/account">My account</a>
            </li>
            <li>
              <a href="/logout">Log out</a>
            </li>
          {% else %}
            <li>
              <a href="/s-search">Search</a>
            </li>
            <li>
              <a href="/login">Log in</a>
            </li>
            <li>
              <a href="/login">Sign up</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- search box-->
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Cheap Group Delivery</h2>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form name="sentMessage" id="loginForm" action="{{url_for('user_login')}}" novalidate>
              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <div class="form-group">
                    <input type="text" class="form-control date" placeholder="Date *" id="date" required data-validation-required-message="Please enter date." name="date">
                    <span class="input-group-addon">
                      <span class="glyphicons glyphicons-cargo"></span>
                    </span>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input type="depart" class="form-control" placeholder="Depart *" id="depart" required data-validation-required-message="Please enter depart location." name="depart">
                    <p class="help-block text-danger"></p>
                  </div>
                  <!-- <div class="form-group">
                    <input type="hidden" name="who" value="shipper">
                  </div> -->
                  <div class="form-group">
                    <input type="weight" class="form-control" placeholder="Weight *" id="weight" required data-validation-required-message="Please enter weight." name="weight">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="col-lg-12 text-center">
                  <!-- <div id="success"></div> -->
                    <button type="submit" class="btn btn-xl" id="shipper-login">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>



  <!-- search result -->


  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline">
            <li>
              <a href="/home">Home</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            {% if current_user.is_authenticated() %}
            <li>
              <a href="/s-post">Post</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="/s-ongoing">Ongoing</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="/account">My account</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="/logout">Log out</a>
            </li>
            {% else %}
            <li>
              <a href="/login">Log in</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="/login">Sign up</a>
            </li>
            {% endif %}
          </ul>
          <p class="copyright text-muted small">Copyright &copy; WeDeliver 2015. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}

{% block script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
 <script type="text/javascript">
    // When the document is ready
    $(document).ready(function () {
        
        $('.date').datepicker({
            format: "dd/mm/yyyy"
        });  
    
    });
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script type="text/javascript">
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = new google.maps.LatLng(
          position.coords.latitude, position.coords.longitude);
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
</script>
{% endblock %}
