<div class="wrapper">
    <div class="box">
        <div class="row">
            <!--search box-->
            <div class="container auth col-sm-3" style = "padding-top: 170px; padding-left: 70px; padding-right: 30px;">
                <div id="big-form" class="well auth-box">
                    <form id="search-form" action="" method="GET">
                        <fieldset>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="pickup-loc" style="font-size: 16px;"> <i class="fa fa-truck"></i> Pickup Location</label>
                                <input id="pickup-loc" name="pickuploc" placeholder="IKEA Brooklyn" class="form-control input-md" type="text" data-toggle="modal" data-target="#place-modal" style="padding: 0 0;">
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="deliver-loc" style="font-size: 16px;"><i class="fa fa-street-view"></i> Delivery Location</label>
                                <input id="deliver-loc" name="deliverloc" placeholder="Columbia University" class="form-control input-md" type="text" data-toggle="modal" data-target="#place-modal" style="padding: 0 0;">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="pickup-date" style="font-size: 16px;"> <i class="fa fa-calendar"></i> Pickup Time</label>
                                <input id="pickup-date" name="pickupdate" placeholder="04/29/2015" class="form-control input-md date" type="text" readonly="readonly" style="padding: 0 0;">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="deliver-date" style="font-size: 16px;"> <i class="fa fa-calendar-o"></i> Delivery Time</label>
                                <input id="deliver-date" name="deliverdate" placeholder="04/30/2015" class="form-control input-md date" type="text" readonly="readonly" style="padding: 0 0;">
                            </div>

                            <!-- Button -->
                            <div class="form-group" style="margin-bottom: 25px;">
                                <button id="submit-search" class="btn btn-primary btn-search" style="background-color:#256EB8;">Search</button>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>

            <!-- main -->
            <div class="column col-sm-9" id="main" style="padding-top: 200px; padding-right: 0; padding-left: 5px;">
                <div class="padding">
                    <div class="full col-sm-11" style="padding-right: 0; padding-left: 5px;">

                        <!-- content -->
                        <div class="row" style="font-size: 13px; font-family: 'Lucida Grande', sans-serif;">
                            <div class = "col-sm-2 page-header text-muted text-center col-header-list">
                                Current Unit Price
                            </div>
                            <div class="col-sm-3 page-header text-muted text-center col-header-list">
                                Deliverer
                            </div>
                            <div class="col-sm-3 page-header text-muted text-center col-header-list">
                                Pick Up  |  Delivery
                            </div>
                            <div class="col-sm-2 page-header text-muted text-center col-header-list">
                                Occupancy
                            </div>
                            <div class="col-sm-2 page-header text-muted text-center col-header-list">
                                Base Unit Price
                            </div>
                        </div>

                        <div id="orderlist"></div> <!-- /#orderlist -->

                        <div class="col-sm-12">
                            <div class="page-header text-muted divider">
                                <a id="prev-page"> <font size="3" color="white"> <i class="fa fa-angle-up"></i> Up </font></a>
                                <a id="next-page"> <font size="3" color="white"> <i class="fa fa-angle-down"></i> Next </font></a>
                            </div>
                        </div>

                        <!--This part is for showing favoriate deliver's logo-->
                        <div class ="row">
                            <div class="col-sm-4 text-center">
                                <div class="view" style="font-family: 'Arial', sans-serif;" >
                                     <h4>Shunfeng Student Express</h4>
                                     <img src="/static/img/shungfeng_logo.png" height="120">
                                 </div>
                            </div>
                            <div class="col-sm-4 text-center">
                                <div class="view" style="font-family: 'Arial', sans-serif;">
                                     <h4>Planet Express</h4>
                                     <img src="/static/img/Planet-Express-Logo.png" height="120">
                                 </div>
                            </div>
                            <div class="col-sm-4 text-center">
                                <div class="view" style="font-family: 'Arial', sans-serif;">
                                     <h4>Panda Express</h4>
                                     <img src="/static/img/Panda_Express_Logo.png" height="120">
                                 </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-header-list"  style="font-size: 13px; font-family: 'Source Sans Pro', sans-serif;">
                            <div class="page-header text-muted divider">
                            </div>
                        </div>
                        <hr>

                        <div class="row" id="footer">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <p>
                                    <a href="#" class="pull-right" style="color:white;">©Copyright Inc.</a>
                                </p>
                            </div>
                        </div>

                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div><!-- /main -->
        </div>
    </div>
</div>
