{% extends "base.html" %}
{% block mycss %}
    <link rel="stylesheet" href="/static/css/index-login.css">
{% endblock %}
{% block body %}
    {% include "s-header.html" %}
    <div class="wrapper">
        <div class="box">
            <div class="row">
                <!--search box-->
                <div class="container auth col-sm-10 col-sm-offset-1" style="padding-top: 150px; padding-left: 50px; padding-right: 20px;">
                    <div id="big-form" class="well auth-box">
                        <form id="join-form" action="#" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <h1 id="order-title">IKEA GO!</h1>
                                </div>
                                <div class="col-sm-12">
                                    <div class="page-header text-muted divider"> <i class="fa fa-info-circle"></i> Order Info </div>
                                </div>
                                <div class="row">
                                    <div class="col-sml-1 col-sm-offset-1">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="pickup_location"> <i class="fa fa-truck"></i> Pickup Location</label>
                                                    <h4 id="pickupaddr">IKEA Brooklyn</h4> </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="pickup_time"> <i class="fa fa-calendar"></i> Pickup Time</label>
                                                    <h4 id="pickuptime"> May 12, 2015. 5:00 PM </h4> </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="base_price"> <i class="fa fa-money"></i> Base Price</label>
                                                    <h3 id="perstopfee"> $5.00 </h3> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sml-1 col-sm-offset-1">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="deliver_location"><i class="fa fa-street-view"></i> Delivery Location</label>
                                                    <h4 id="deliveryaddr">Columbia University</h4> </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="delvier_time"> <i class="fa fa-calendar-o"></i> Delivery Time</label>
                                                    <h4 id="deliverytime"> May 13, 2015. 10:00 AM </h4> </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="unit_price"> <i class="fa fa-money"></i></i> Current Unit Price</label>
                                                    <h3 id="unitfee"> $10 </h3> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="page-header text-muted divider"> <i class="fa fa-bar-chart"></i>Prices Trend </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="form-group">
                                            <label class="control-label" for="textinput"> <i class="fa fa-users"></i> Participants</label>
                                            <h1 id="membernum"> 5 </h1>
                                            <button onclick = "draw_occupancy(115, 39, 10)">draw the occupancy</button>
                                            <div class="col-sm-9">
                                                <div id = "occupancy_graph"> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label text-center"> <i class="fa fa-level-up"></i> Prices trend</label>
                                            <div id="chart_div" style="width: 550px; height: 350px"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="row">
                                    <div class="col-sm-3">
                                        <button onclick = "draw_occupancy(115, 39, 10)">draw the occupancy</button>
                                    </div>

                                    <div class="col-sm-9">
                                            <div id = "occupancy_graph"> </div>
                                    </div>
                                </div> -->

                                <div class="row">
                                    <div class="col-sm-12" id="orderlist">
                                        <div class="page-header text-muted"> <i class="fa fa-user-plus"></i>Want Join </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-sm-offset-2">
                                        <div class="form-group">
                                            <label class="control-label" for="deliver-addr"> <i class="fa fa-truck"></i> Delivery Location </label>
                                            <input id="deliver-addr" name="deliveraddr" placeholder="IKEA Brooklyn" class="form-control input-md" type="text" data-toggle="modal" data-target="#place-modal"> </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <div class="form-group">

                                            <label class="control-label" for="cargo-size"><i class="fa fa-street-view"></i> Cargo Size (unit)</label>
                                            <input id="cargo-size" name="cargosize" placeholder="12" class="form-control input-md" type="text"> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2"> </div>
                                    <div class="form-group col-xs-8 col-sm-8 col-md-8">
                                        <label class="control-label" for="order-comment">Your Comment</label>
                                        <textarea class="form-control" id="order-comment" name="comment" style="border-radius: 5px; font-size: 18px;"></textarea>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2"> </div>
                                </div>
                                <!-- Button -->
                                <div class="form-group">
                                    <div class="col-sm-offset-5">
                                        <button id="join-submit" class="btn btn-primary">Join The Order</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="place-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog map-dialog">
            <div class="modal-content">
                <!-- TO BE LODADED -->
            </div><!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->

    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/floatlabels.min.js"></script>
    <script src="/static/js/placeholdem.min.js"></script>
    <script src="/static/js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="/static/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/js-url/1.8.4/url.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.0/jquery.nicescroll.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <!--This part is for overlaying text-muted css, to make some headline as white color-->
    <style>
    .text-muted {
        color: #FFF;
    }
    </style>
    <!-- This script and style part is for search form-->
    <style>
    .margin-top-20 {
        margin-top: 20px;
    }

    body {
        background: url('/static/img/freeze/bk-freeze-ga.jpg');
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 40px;
    }

    .auth h1 {
        color: #fff!important;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }

    .auth h1 span {
        font-size: 21px;
        display: block;
        padding-top: 20px;
    }

    .auth .auth-box legend {
        color: #fff;
        border: none;
        font-weight: 300;
        font-size: 24px;
    }

    .auth .auth-box {
        background-color: #fff;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.4);
        ;
        background-color: rgba(255, 255, 255, 0.2);
        margin-top: 40px;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
        -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
        box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: background 1s ease-in-out;
        -moz-transition: background 1s ease-in-out;
        -ms-transition: background 1s ease-in-out;
        -o-transition: background 1s ease-in-out;
        transition: background 1s ease-in-out;
    }

    @media(max-width:460px) {
        .auth .auth-box {
            margin: 0 10px;
        }
    }

    .auth .auth-box input::-webkit-input-placeholder {
        /* WebKit browsers */

        color: #fff;
        font-weight: 300;
    }

    .auth .auth-box input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */

        color: #fff;
        font-weight: 300;
    }

    .auth .auth-box input::-moz-placeholder {
        /* Mozilla Firefox 19+ */

        color: #fff;
        font-weight: 300;
    }

    .auth .auth-box input:-ms-input-placeholder {
        /* Internet Explorer 10+ */

        color: #fff;
        font-weight: 300;
    }

    .auth span.input-group-addon,
    .input-group-btn button {
        border: none;
        background: #fff!important;
        color: #000!important;
    }

    .auth form {
        font-weight: 300!important;
    }

    .auth form input[type="text"],
    .auth form input[type="password"],
    .auth form input[type="email"],
    .auth form input[type="search"] {
        border: none;
        padding: 10px 0 10px 0;
        background-color: rgba(255, 255, 255, 0)!important;
        background: rgba(255, 255, 255, 0);
        color: #fff;
        font-size: 16px;
        border-bottom: 1px dotted #fff;
        border-radius: 0;
        box-shadow: none!important;
        height: auto;
    }

    .auth textarea {
        background-color: rgba(255, 255, 255, 0)!important;
        color: #fff!important;
    }

    .auth input[type="file"] {
        color: #fff;
    }

    .auth form label {
        color: #fff;
        font-size: 15px;
        font-weight: 300;
    }
    /*for radios & checkbox labels*/

    .auth .radio label,
    .auth label.radio-inline,
    .auth .checkbox label,
    .auth label.checkbox-inline {
        font-size: 14px;
    }

    .auth form .help-block {
        color: #fff;
    }

    .auth form select {
        background-color: rgba(255, 255, 255, 0)!important;
        background: rgba(255, 255, 255, 0);
        color: #fff!important;
        border-bottom: 1px solid #fff!important;
        border-radius: 0;
        box-shadow: none;
    }

    .auth form select option {
        color: #000;
    }
    /*multiple select*/

    .auth select[multiple] option,
    .auth select[size] {
        color: #fff!important;
    }
    /*Form buttons*/

    .auth form .btn {
        background: none;
        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
        -o-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;
    }

    .auth form .btn-default {
        color: #fff;
        border-color: #fff;
    }

    .auth form .btn-default:hover {
        background: rgba(225, 225, 225, 0.3);
        color: #fff;
        border-color: #fff;
    }

    .auth form .btn-primary:hover {
        background: rgba(66, 139, 202, 0.3);
    }

    .auth form .btn-success:hover {
        background: rgba(92, 184, 92, 0.3);
    }

    .auth form .btn-info:hover {
        background: rgba(91, 192, 222, 0.3);
    }

    .auth form .btn-warning:hover {
        background: rgba(240, 173, 78, 0.3);
    }

    .auth form .btn-danger:hover {
        background: rgba(217, 83, 79, 0.3);
    }

    .auth form .btn-link {
        border: none;
        color: #fff;
        padding-left: 0;
    }

    .auth form .btn-link:hover {
        background: none;
    }

    .auth label.label-floatlabel {
        font-weight: 300;
        font-size: 11px;
        color: #fff;
        left: 0!important;
        top: 1px!important;
    }
    </style>

    <!--the script for drawing the occupancy picture-->
    <script>
    function draw_occupancy(trucksize, cargosize, row_size) {

        var undraw_cargo_count = cargosize;
        var box_count = 0;
        var table_str = "   <table id=\"colorchart\" style = \" border-spacing : 2px !important; border-collapse: separate;\"> <tbody>";

        while (box_count < trucksize) {
            if (box_count % row_size == 0) {
                table_str += "<tr>";
            }
            if (undraw_cargo_count > 0) {
                table_str += "<td bgcolor=\"#170B3B\" width=\"20\" height = \"20\" ><\/td>";
                undraw_cargo_count--;
                box_count ++;
            } else {
                table_str += "<td bgcolor=\"#F7F2E0\" width=\"20\" height = \"20\"><\/td>";
                box_count ++;
            }
            if (box_count % row_size == 0) {
                table_str += "<\/tr>";
            }
        }
        if (trucksize % row_size != 0) {
            table_str += "<\/tr>";
        }
        table_str += "<\/tbody><\/table>";

        $('#occupancy_graph').append(table_str);
    }
    </script>















    <script>
    $(document).ready(function() {
        //Floatlabel
        // $('input').floatlabel();
        var oid = $.url('?oid');
        $.getJSON('v1/order/' + oid, function(data){
            if (Math.floor(data.status/100) == 2) {
                console.log(data.data[0]);
                fillOrderHTML(data.data[0]);
            } else {
                console.log('Fetch order failed');
            }
        });
        /* place modals */
        $('#place-modal').on('show.bs.modal', function(e) {
            $(this).find('.modal-content').load('/placemodal');
        });
        $('#place-modal').on('shown.bs.modal', function(e) {
            var source = e.relatedTarget;
            initGmapSearch();
            $(this).data('source', source);
            $('#pac-input').val($(source).val());
        });
        $('#place-modal').on('hide.bs.modal', function(e) {
            var source = $(this).data('source');
            var addr = $('#pac-input').data('addr');
            if (addr) { $(source).val(addr); }
        });
        // join order form
        $('#join-form').submit(function(e){
            $.post('/v1/orderRecord', {
                oid: oid,
                sid: 101, // FIXME: Real SID !
                stopaddress: $('input[name="deliveraddr"]').val(),
                cargosize: $('input[name="cargosize"]').val(),
                comment: $('input[name="comment"]').val(),
            }, function(data){
                if (Math.floor(data.status/100) == 2) {
                    alert('Success!');
                    location.href = '/myorder';
                } else {
                    console.log('Join order failed. Change sid and try again');
                }
            });
            e.preventDefault();
        });
        $('#join-submit').click(function(e){
            $('#join-form').submit();
            e.preventDefault();
        });
    });
    function fillOrderHTML(data) {
        $('#order-title').html(data.title);
        $('#pickupaddr').html(data.pickupaddr);
        $('#pickuptime').html(data.pickuptime);
        $('#perstopfee').html('$' + data.perstopfee);
        $('#deliveryaddr').html(data.deliveryaddr);
        $('#deliverytime').html(data.deliverytime);
        $('#unitfee').html('$' + data.unitfee);
        $('#membernum').html('$' + data.membernum);
    }
    </script>
    <script>
    $(document).ready(function() {
        appMaster.preLoader();
        $("html").niceScroll();
    });
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        var raw_data = [
                [0, 60],   [1, 50],  [2, 40],  [3, 30],  [4, 18],  [5, 9],
              ];
        google.load('visualization', '1', {packages: ['corechart', 'line']});
        google.setOnLoadCallback(drawBasic);

        function drawBasic() {

              var data = new google.visualization.DataTable();
              data.addColumn('number', 'X');
              data.addColumn('number', 'Unit Price');

              data.addRows(raw_data);

              var options = {
                colors:['yellow','#E6E600'],
                backgroundColor: 'white',
                chartArea: {
                    top: 25,
                    left: 25,
                    width: 450,
                    height: 300
                },
                fontSize: 12
              };

              var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

              chart.draw(data, options);
            }
    </script>
{% endblock %}
