header .navbar-default.scrolled {
  border-bottom: 3px solid #25005C;
}
header .navbar-default.scrolled ul.navbar-nav li a {
  color: #25005C;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover {
  color: #25005C;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover:after {
  background: #25005C;
}
header .navbar-default.scrolled .navbar-brand {
  background: #25005C;
}
