.login-wrap {
    padding: 30px;
}

.label {
    color: #C0C0D0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.form .form-control {
    font-family: 'PT Sans', sans-serif;
    border-radius: 0.5em;
}

.form-login.btn {
    border-radius: 0.5em;
    height: 44px;
}

.btn-facebook {
    height: 42px;
    background-color: #5172AB;
    border-color: #5D7EB6;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    border-radius: 0.5em;
    background-image: url('/static/img/facebook-logo-sm.png');
    background-position: 25px 0px;
    background-size: 28px 42px;
    background-repeat: no-repeat;
    padding-left: 50px;
}

.modal .map-dialog {
    width: 80%;
}

.pac-container {
    z-index: 1051 !important;
}
