.dropdown-menu {
	min-width: 160px;
	text-align: left;
	font-family: 'Lato';
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

.text-name {
	color: #256EB8;
	font-family: 'Lato';
	font-size: 14px;
}

.btn-logout {
	border-radius: 0.3em;
	background-color: #254A6E;
	font-size: 14px;
	font-family: 'Lato';
	color: white;
	margin-bottom: 15px;
	max-width: 100px;
	margin-top: 5px;
	margin-left: 20%;
}

.btn-search {
	border-radius: 0.3em;
	max-width: 100px;
	margin-left: 22%;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
}

.btn-select {
	border-radius: 0.3em;
	background-color: #254A6E;
	font-size: 14px;
	font-family: 'Lato';
	color: white;
	margin-bottom: 15px;
	/*max-width: 70px;*/
	margin-top: 15%;
}

.btn-post {
	margin-left: 0;
	margin-bottom: 15px;
}

.btn.btn-primary:hover {
    color: black;
    background: #254A6E none repeat scroll 0% 0%;
    border-color: #254A6E;
}

.btn.btn-primary {
    color: white;
    border-color: #256EB8;
}

.centered {
	text-align: center;
}

.control-label {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

.form-control {
	padding: 0px 0px;
}

.form-group {
	margin-bottom: 40px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.page-header {
    padding-bottom: 3px;
    margin: 10px 0px;
}

.col-header-list {
	padding-left: 0;
	padding-right: 0;
}

.white {
	font-family: 'Lato', sans-serif;
}

.curprice {
	font-size: 40px;
}

.occupancy_style {
	font-size: 25px;
}


.othertext {
	font-size: 16px;
}

